streamlit
pandas
openpyxl
transformers
sentence-transformers
faiss-cpu
python-dotenv
torch
numpy
scikit-learn
tqdm
accelerate
bitsandbytes
safetensors
langchain
langchain-community
langchain-core
streamlit-extras
plotly
pillow
huggingface-hub
einops
peft
trl
wandb